@charset "UTF-8";
@font-face {
  font-family: "FiraGO-ExtraBoldItalic";
  src: url("../fonts/FiraGO-ExtraBoldItalic.eot");
  src: local("☺"), url("../fonts/FiraGO-ExtraBoldItalic.woff") format("woff"), url("../fonts/FiraGO-ExtraBoldItalic.ttf") format("truetype"), url("../fonts/FiraGO-ExtraBoldItalic.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "FiraGO-Book";
  src: url("../fonts/FiraGO-ExtraBoldItalic.eot");
  src: local("☺"), url("../fonts/FiraGO-ExtraBoldItalic.woff") format("woff"), url("../fonts/FiraGO-ExtraBoldItalic.ttf") format("truetype"), url("../fonts/FiraGO-ExtraBoldItalic.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "DelaGothicOne-Regular";
  src: url("../fonts/DelaGothicOne-Regular.ttf") format("truetype"); }

body {
  font-family: "DelaGothicOne-Regular"; }

.sideBar {
  position: fixed;
  z-index: 12;
  height: 100vh;
  background: #18192d;
  padding: 0 20px; }
  .sideBar #menu {
    font-family: "FiraGO-ExtraBoldItalic";
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    position: unset;
    height: unset; }
    .sideBar #menu li {
      background: none;
      text-align: center; }
      .sideBar #menu li.active {
        transform: scale(1.2);
        transition: 0.3s; }
        .sideBar #menu li.active a {
          color: #a96fe9;
          font-family: "FiraGO-ExtraBoldItalic"; }
    .sideBar #menu a {
      text-transform: uppercase;
      color: #fff; }
  .sideBar .socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: calc(100vh - 550px); }
    .sideBar .socials a {
      margin-bottom: 15px; }

.bgArrow1 {
  position: absolute;
  left: 10vw;
  transform: rotate(180deg);
  top: 80vh;
  width: calc(40px + 1vw); }

.bgArrow3 {
  position: absolute;
  left: 50vw;
  transform: rotate(180deg);
  top: 30vh;
  width: calc(30px + 1vw); }

.bgArrow4 {
  position: absolute;
  left: 80vw;
  transform: rotate(180deg);
  top: 70vh;
  width: calc(30px + 1vw); }

.bgArrow2 {
  position: absolute;
  left: 10vw;
  transform: rotate(180deg);
  top: 10vh;
  width: calc(30px + 1vw); }

#section0 {
  margin-left: 165px;
  display: block; }
  #section0 .bgArrow1 {
    position: absolute;
    left: 10vw;
    transform: rotate(180deg);
    top: 80vh;
    width: calc(40px + 1vw); }
  #section0 .bgArrow3 {
    position: absolute;
    left: 50vw;
    transform: rotate(180deg);
    top: 30vh;
    width: calc(30px + 1vw); }
  #section0 .bgArrow4 {
    position: absolute;
    left: 80vw;
    transform: rotate(180deg);
    top: 70vh;
    width: calc(30px + 1vw); }
  #section0 .bgArrow2 {
    position: absolute;
    left: 10vw;
    transform: rotate(180deg);
    top: 10vh;
    width: calc(30px + 1vw); }
  #section0 .intro {
    height: 100%;
    position: absolute;
    width: 100%;
    position: relative; }
    #section0 .intro h2 {
      color: #fff;
      text-align: left;
      position: absolute;
      top: 20vh;
      left: calc(5vw + 50px);
      font-size: calc(20px + 2vw); }
      #section0 .intro h2 span {
        color: #18192d;
        -webkit-text-stroke: 2px white; }
  #section0 .bg1 {
    position: absolute;
    width: 30vw;
    left: 5vw;
    top: 1vh;
    z-index: 2; }

.rotateDegEffect {
  position: relative;
  width: 40vw;
  height: 40vw;
  left: 40vw;
  top: 25vh; }
  .rotateDegEffect * {
    transition: 0.3s; }

.rotateDegEffect .effect_part:nth-child(1) {
  position: absolute;
  width: 50%;
  left: 0px;
  top: 0px;
  height: 50%;
  z-index: 2; }

.rotateDegEffect .effect_part:nth-child(1):hover ~ .transformable {
  transform: perspective(50rem) rotateX(3deg) rotateY(-3deg); }

.rotateDegEffect .effect_part:nth-child(2) {
  position: absolute;
  width: 50%;
  left: 50%;
  top: 0px;
  height: 50%;
  z-index: 2; }

.rotateDegEffect .effect_part:nth-child(2):hover ~ .transformable {
  transform: perspective(50rem) rotateX(3deg) rotateY(3deg); }

.rotateDegEffect .effect_part:nth-child(3) {
  position: absolute;
  width: 50%;
  left: 0%;
  top: 50%;
  height: 50%;
  z-index: 2; }

.rotateDegEffect .effect_part:nth-child(3):hover ~ .transformable {
  transform: perspective(50rem) rotateX(-3deg) rotateY(-3deg); }

.rotateDegEffect .effect_part:nth-child(4) {
  position: absolute;
  width: 50%;
  left: 50%;
  top: 50%;
  height: 50%;
  z-index: 2; }

.rotateDegEffect .effect_part:nth-child(4):hover ~ .transformable {
  transform: perspective(50rem) rotateX(-3deg) rotateY(3deg); }

.rotateDegEffect img {
  transition: 0.3s; }

.sectionCOntainer {
  margin-left: 181px; }
  .sectionCOntainer svg {
    width: calc(90vw - 181px); }

.mideBoxSvg {
  fill: blueviolet !important;
  transition: 0.3s; }
  .mideBoxSvg:hover {
    fill: rgba(137, 43, 226, 0.493) !important; }

#section2 .bgArrow3 {
  left: 76vw;
  top: 15vw; }

#section2 .bgArrow {
  transform: rotate(-90deg); }

#section1 .bgArrow3 {
  top: 5vh;
  left: 60vw; }

#section2 .owl-nav .owl-prev,
#section2 .owl-nav .owl-next {
  font-size: 36px;
  color: #fff; }

#section2 .owl-nav button {
  margin: 15px; }

#section3 .owl-nav .owl-prev,
#section3 .owl-nav .owl-next {
  font-size: 36px;
  color: #fff; }

#section3 .owl-nav button {
  margin-right: 15px; }

#section3 .owl-carousel.oblll2.owl-theme.owl-loaded.owl-drag {
  height: calc(100% - 274px);
  min-height: 450px; }

#section3 .owl-stage-outer {
  height: calc(100%); }

button:active,
button:focus {
  outline: none;
  border: none; }

#section3 .oblll3 {
  color: #fff;
  text-align: left; }
  #section3 .oblll3 .owl-nav {
    text-align: center; }
  #section3 .oblll3 .img {
    height: 30vw;
    width: 100%;
    border: 2px solid #fff;
    height: 20vw;
    min-height: 200px;
    min-width: 200px;
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center; }
    #section3 .oblll3 .img img {
      max-height: 100%;
      height: auto;
      width: auto !important; }
  #section3 .oblll3 p {
    font-size: 15px;
    margin-top: 11px;
    max-width: 80%;
    margin: auto; }
  #section3 .oblll3 h4 {
    font-size: 23px;
    color: #fff;
    margin-top: 20px;
    max-width: 80%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px; }

#section3 .sectionCOntainer {
  height: 100%; }

.svgVgg {
  fill: blueviolet; }

h3 {
  color: #fff;
  text-align: left;
  padding-bottom: 10vh;
  font-size: calc(20px + 3vw);
  color: #18192d;
  -webkit-text-stroke: 2px white;
  width: calc(90vw - 181px);
  margin: auto; }

#section4 h3 {
  text-align: center; }
  #section4 h3 span {
    -webkit-text-stroke: 0px white;
    color: #fff; }
    #section4 h3 span b {
      font-weight: normal;
      color: #00f0b5; }

#section4 .sectionCOntainer svg {
  width: calc(51px); }

@media only screen and (max-width: 1400px) {
  #section3 .oblll2 .owl-item p {
    font-size: 12px; }
  #section3 .oblll2 .owl-item .img {
    height: 17vw;
    padding: 20px; }
    #section3 .oblll2 .owl-item .img img {
      width: auto;
      max-height: 80%; } }

.burgerMenuIcon {
  position: absolute;
  left: 20px;
  top: 20px;
  z-index: 235; }

@media only screen and (max-width: 769px) {
  .sideBar #menu {
    margin-top: 70px; }
  .sideBar {
    transition: 0.3s;
    width: 0px;
    overflow: hidden;
    position: fixed;
    padding: 0 0px; }
    .sideBar.open {
      width: 88px; }
    .sideBar a {
      font-size: 13px;
      text-align: left; }
  .sideBar .socials {
    margin-top: 20px;
    margin-left: 15px;
    align-items: flex-start; }
  #menu li a,
  #menu li.active a {
    padding: 1px 7px; }
  #section0 .intro h2 {
    top: 15vh;
    left: calc(50vw);
    font-size: calc(20px + 2vw) !important;
    transform: translateX(-40%) !important; }
  #section0 {
    margin-left: 0;
    transition: 0.3s; }
  #section3 .oblll2 .owl-item h4 {
    font-size: 15px;
    margin-top: 7px;
    text-align: center; }
  #section3 .oblll2 .owl-item p {
    font-size: 11px;
    text-align: justify; }
  #section3 .oblll2 .owl-item .img {
    min-height: 132px;
    min-width: 162px;
    padding: 5px; }
  h3 {
    color: #fff;
    text-align: left;
    padding-bottom: 4vh;
    font-size: calc(10px + 3vw);
    color: #18192d;
    -webkit-text-stroke: 2px white;
    width: calc(90vw - 31px);
    margin: auto; }
  #section3 .owl-stage-outer {
    height: calc(80%); }
  #section3 .owl-carousel.oblll2.owl-theme.owl-loaded.owl-drag {
    height: calc(100% - 274px); }
  #section3 .sectionCOntainer {
    height: 90vh;
    padding-top: 5vh; }
  #section3 .sectionCOntainer h3 {
    text-align: center;
    margin-top: 7vw; }
  #Layer_1 {
    display: none !important; }
  .oblll3 .img {
    width: 100px;
    margin: auto;
    border: 1px solid #fff;
    padding: 10px; }
  .oblll3 h4 {
    color: #fff;
    font-size: 14px;
    margin-top: 10px; }
  .oblll3 p {
    color: #fff;
    font-size: 12px !important;
    max-width: 360px;
    margin: auto;
    text-align: justify;
    margin-top: 15px; }
  .mobileLogo {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 20; }
    .mobileLogo img {
      width: 64px; }
    .mobileLogo h1 {
      font-size: 20px;
      display: inline-block;
      height: 20px; }
  .sectionCOntainer.aboutMobile {
    margin-left: 0px;
    transition: 0.3s; }
  .sectionCOntainer {
    margin-left: 0;
    transition: 0.3s; }
  .openMenu #section0 {
    margin-left: 84px; }
  .openMenu .sectionCOntainer {
    margin-left: 84; }
  .openMenu .sectionCOntainer.aboutMobile {
    margin-left: 84px; }
  #section3 .oblll2 .owl-item {
    max-width: 80vw !important; }
    #section3 .oblll2 .owl-item .img {
      height: 10vw; }
  .rotateDegEffect {
    left: 31vw;
    top: 46vh; }
  #slide3 h3 {
    text-align: center;
    width: 100%; }
  .owl-carousel11 .owl-nav {
    display: none; }
  .serviceMobile .item > div {
    border: 1px solid #fff;
    max-width: 80vw;
    margin: auto;
    border-color: #5e239d; }
    .serviceMobile .item > div > h4 {
      border-bottom: 1px solid #fff;
      padding: 10px 0;
      border-color: #5e239d; }
    .serviceMobile .item > div p {
      color: #fff;
      font-size: 12px;
      padding: 20px 10px; }
  .serviceMobile h4 {
    color: #fff !important; }
  .aboutMobile {
    color: #fff;
    font-size: 15px !important; }
    .aboutMobile > div {
      max-width: calc(100% - 50px);
      margin: auto;
      background: #5e239d;
      border: 1px solid #fff; }
      .aboutMobile > div > div {
        border-bottom: 2px solid #fff;
        padding: 5px; }
    .aboutMobile p {
      font-size: 11px !important;
      text-align: justify; } }
